/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body {
    margin:0;
    padding:0;
    height:100%;
}
main{
    margin:0;
    padding:0;
    height:24%; 
}
body{
    position:relative;
    min-height: 100%;
}
header{
    background-color:#f1f1f1;
    display: grid;
    grid-template-columns: 25% 75%;
}
header img{
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
}
header h1{
    font-family: 'Bangers', cursive;
    font-size: 2.25rem;
    color: #ff9028;
    text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
    background-color: #f1f1f1;
    letter-spacing: 0.2rem;
}

nav button{
    margin: .2rem 2%;
    background-color:transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
}

nav {
    background-color: #0d9de3;
    font-family: Verdana, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display:block;
    padding: 0.8rem 2%;
    text-decoration: none;
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: 1.20rem;
    color:#000;
    background-color:#fffb33;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2); color:#fff;}
.active{
    background-color: #fffb33;
}
nav ul li a:hover{
    background-color:#112a46;
    color: #f1f1f1;
}

nav ul.hide {display:none;}

p {
    font-family: 'Chelsea Market', cursive;
    font-size: 1rem;
    margin-bottom: 25px;
    margin-left: 2%;
}
h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.5rem;
    color: #0d9de3;
    margin-top: 0px;
}
.google-maps{
    position:relative;
    padding-bottom: 75%;
    height:0;
    overflow:hidden;
}
.google-maps iframe{
    position:absolute;
    top: 0;
    left:0;
    width:100% !important;
    height:100% !important;
}
#contact-info{
    text-align: left;
}
footer{
    text-align:center;
    font-size: 0.1rem;
    background-color: #fffb3e;
    text-align:center;
    bottom:0;
    left:0;
    width:100%;
}
#footer-copyright{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px 30px;
    text-align:center;
    font-size: 0.1rem;
    margin-top: -16px;
    background-color:#0d9de3;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }