
h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.80rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
#h2-site-plan{
    margin-top: 10px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0px;
}

body{
    font-family: 'Chelsea Market', cursive;
    font-size: 10vmin;
}
header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
nav ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 0.75rem;
    text-decoration: none;
    font-family: 'Chelsea Market', cursive;
	font-size: 1.20rem;
}
h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 2rem;
}

p {
    font-family: 'Chelsea Market', cursive;
    font-size: 1rem;
}

#logo-shown img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.unordered-target{
    font-family: 'Chelsea Market', cursive;
    font-size: 1rem;
}

#color-sheme-img img{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align:center;
    margin-top:100px;
  font-size: 1rem;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	
    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
    }
}